/*
    Mixins common to all CSS files for each experiment.
    Matt Finucane. May 2013.
*/

@mixin html_body{
    html, body{
        width: 100%;
        height: 100%;
        background-color: #000;
    }

    body{
        font-size: 1.0em;
        font-family: sans-serif;
    }
}

@function extrude($numsteps){
    $output: '';
    $colour: '';
    @for $i from 1 through $numsteps{
        @if($i % 2 == 0){
            $colour: 'white';
        }
        @else{
            $colour: 'black';
        }
        $output: $output + '#{0 - (1 * $i)}px #{1 * $i}px #{$colour}';
        @if($i < $numsteps){
            $output: $output + ',';
        }
    }
    
    @return unquote($output);
}