/*
*   Compass style for WebGL Canvas and form
*   Matt Finucane. April 2013.
*/

@import "compass/reset";
@import "compass/css3/box";
@import "compass/css3/border-radius";

html, body{
    width: 100%;
    height: 100%;
    background-color: #000;
}

body{
    font-size: 1.0em;
    font-family: sans-serif;
}

section.container{  
    width: 100%;
    @include display-box;
    @include box-align(center);
    @include box-pack(center);
    canvas, form{
        margin: 10px;
        @include border-radius(40px);
    }
    canvas{
        width: 500px;
        height: 500px;
    }
    form{
        padding: 20px;
        width: 460px;
        height: 460px;
        background-color: #ccc;
        h2, fieldset{
            margin: 5px 0px 10px 0px;
        }
        h2{
            font-weight: bold;
            
        }
        fieldset{
            margin: 5px 0px 20px 0px;
            input[type='range'], label{
                line-height: 1.2em;
            }
            label[for='texture']{
                display: inline;
                float: left;
                min-width: 200px;
            }
        }
        fieldset#movement{
            label{
                display: inline;
                float: left;
                clear: left;
                min-width: 200px;
            }
            input[type="range"]{
                display: inline;
                float: left;
                clear: right;
            }
        }
    }
}