/*
    SCSS for the main index landing page.
    Matt Finucane. May 2013.
*/
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
    Mixins common to all CSS files for each experiment.
    Matt Finucane. May 2013.
*/
@font-face {
  font-family: "Mathematical Bold";
  src: url(/assets/css/fonts/MathematicalBold.ttf) format('truetype');
}

@font-face {
  font-family: "Mathematical";
  src: url(/assets/css/fonts/Mathematical.ttf) format('truetype');
}

/* line 7, ../sass/mixins.scss */
html, body {
  width: 100%;
  height: 100%;
  background-color: #000;
}

/* line 13, ../sass/mixins.scss */
body {
  font-size: 1.0em;
  font-family: sans-serif;
}

/* line 23, ../sass/landing.scss */
html body {
  background-color: #19334d;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(10%, #121f2b), color-stop(50%, #1f3347), color-stop(90%, #121f2b));
  background-image: -webkit-linear-gradient(left, #121f2b 10%, #1f3347 50%, #121f2b 90%);
  background-image: -moz-linear-gradient(left, #121f2b 10%, #1f3347 50%, #121f2b 90%);
  background-image: -o-linear-gradient(left, #121f2b 10%, #1f3347 50%, #121f2b 90%);
  background-image: linear-gradient(left, #121f2b 10%, #1f3347 50%, #121f2b 90%);
}
/* line 34, ../sass/landing.scss */
html body:hover h1 {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  filter: blur(0px);
}

/* line 41, ../sass/landing.scss */
section.container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
}
/* line 46, ../sass/landing.scss */
section.container h1 {
  font-family: 'Mathematical Bold';
  font-size: 6em;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: 30px 0px 30px 0px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 55, ../sass/landing.scss */
section.container h1:hover {
  text-shadow: -1px 1px black,-2px 2px white,-3px 3px black,-4px 4px white,-5px 5px black;
}
