/*
*   Compass style for WebGL Canvas and form
*   Matt Finucane. April 2013.
*/
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  background-color: #000;
}

/* line 16, ../sass/screen.scss */
body {
  font-size: 1.0em;
  font-family: sans-serif;
}

/* line 21, ../sass/screen.scss */
section.container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
}
/* line 26, ../sass/screen.scss */
section.container canvas, section.container form {
  margin: 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}
/* line 30, ../sass/screen.scss */
section.container canvas {
  width: 500px;
  height: 500px;
}
/* line 34, ../sass/screen.scss */
section.container form {
  padding: 20px;
  width: 460px;
  height: 460px;
  background-color: #ccc;
}
/* line 39, ../sass/screen.scss */
section.container form h2, section.container form fieldset {
  margin: 5px 0px 10px 0px;
}
/* line 42, ../sass/screen.scss */
section.container form h2 {
  font-weight: bold;
}
/* line 46, ../sass/screen.scss */
section.container form fieldset {
  margin: 5px 0px 20px 0px;
}
/* line 48, ../sass/screen.scss */
section.container form fieldset input[type='range'], section.container form fieldset label {
  line-height: 1.2em;
}
/* line 51, ../sass/screen.scss */
section.container form fieldset label[for='texture'] {
  display: inline;
  float: left;
  min-width: 200px;
}
/* line 58, ../sass/screen.scss */
section.container form fieldset#movement label {
  display: inline;
  float: left;
  clear: left;
  min-width: 200px;
}
/* line 64, ../sass/screen.scss */
section.container form fieldset#movement input[type="range"] {
  display: inline;
  float: left;
  clear: right;
}
